@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 1rem;
}

.container {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

.card-container {
  display: flex;
  justify-content: space-between;
  max-width: 300px;
}

.card-input {
  width: 40px;
}